.section-body{
    background-color:rgb(46, 46, 49) ;
    height: auto;
}
.brand{
    padding-left: 1em;
    margin-top: 1rem;
}
@media screen and (max-width: 600px) {
.text-1{
    font-size: 25px;
    padding-top: 1em;
}
}
@media screen and (min-width: 601px){
.text-2{
    color: greenyellow;
    font-size: 40px;
}
}
.blockquote{
    color: rgb(230, 230, 230);
    padding-top: 1em;
    font-size: 1vw;
}
.row .card{
    height: 400px;   
    background: rgba(95, 95, 109, 0.178); 
    border-radius: 8px;
    -webkit-box-shadow: 20px 20px 22px rgba(75, 70, 70, 0.185);
    box-shadow: 20px 20px 22px rgba(15, 13, 13, 0.822);
    font-family: 'Poppins',sans-serif;
}
 .row .card-img{
    height: 120px;
    width: 120px;
    background-color: rgba(119, 110, 110, 0);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    margin: 30px auto 20px  auto;
    left: 0;
    right: 0;
}
.row .card-img img{
    height: 86%;
    border-radius: 50%;
    margin-left: 7%;
    margin-top: 7%;
}
h6{
    margin: 0;
}
.desc{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 160px;
}
.primary-text{
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 5px 0;
}
.secondary-text{
    color: #c0c0c0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 5px 0;
}
#glass-button{
    background: rgba(70, 70, 77, 0.438);
    border: none;

}
.details{
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 70px;
    padding: 5px 0;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;
}
.details>div{
    text-align: center;
}
.details>div:first-child{
    border-right: 2px solid rgba(255, 255, 255, 0);
}
#glass-button{
    width: 80%;
    padding: 15px 0;
    position: absolute;
    left: 10%;
    top: 240px;
    border-radius: 5px;
    outline: none;
}
#cards{
    height: 17em;   
}
#glass-butto{
    background: rgba(70, 70, 77, 0);
    border: none;

}
#glass-butto{
    width: 80%;
    padding: 15px 0;
    position: absolute;
    left: 10%;
    top: 240px;
    border-radius: 5px;
    outline: none;
}
.primary-tex{
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 5px 0;
}
body{
    margin: 0;
}
.profile{
    height: 370px;
    width: 340px;
    padding-left: 7em;
    padding-top: 3em;
    margin-left: -3em;
}
.service{
    background-image: url("service.jpg");
    height: auto;
}
.skill{
    background-image: url('skill.jpg');
}
.bg{
    background-color: rgba(197, 184, 184, 0.336);
    background-image: url('service.jpg');
}